@charset "UTF-8";

/* 1921px 보다 같거나 큰 상황일 때 */

@media (min-width:1921px){

    header h1 { }


   /* section */
 
   

}

@media(max-width:1679px){




}


@media(max-width:1279px){
    #s2 .s2_img {background:url('../img/about.jpg') no-repeat 7% 50% / contain; top:0; right:0; left:0; height:500px; width:100%;  align-items: center;}
    #s2 .s2_title_w {position:absolute; top:30%; left:55%; }

}


/*  .gnb_list가 사라지는 포인트 */
@media (max-width:1023px){

    

  


    /* section */

   

}


@media(max-width:700px){
    .gnb_list {display:none;}
    .sideMenu {display:block;}
}

@media (max-width:500px){
    header h1 a {width:82px;}

    .s1_main,  .s1_w span  { font-size: 6.8vw;}
    .s1_sub {font-size: 3.8vw}

    #s2 .s2_img {background:url('../img/about.jpg') no-repeat 48% 50% / cover;}
    #s2 .s2_title_w  {top:37%; left:30%;}   
    .s2_title h1 { font-size: 4.5vw;}
    .s2_title_sub {margin-top: 3px;}
    .s2_item_cont {margin-top: 12px;}
}