@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&family=Noto+Sans+KR:wght@300;400;500;700&display=swap');

body { font-family:'Noto Sans KR', Arial, Helvetica, sans-serif; color:#111; font-size:12px; }
a {color:#111;}

.mobile {display:none;}
img {max-width:100%;}

/* header */
header {position:fixed; top:0; left:0; width:100%; min-height:80px; height:4.2vw; border-bottom:1px solid #d8d8d8; z-index:50; }
.header_in {max-width: 1920px; margin:auto; height:100%;}
header h1 {display:flex; margin-left:1.3vw; align-items:center;  width:172px; height:100%; }
header h1 a { display:inline-block; width:172px; height:100%; background: url('../img/logo.png') no-repeat center center / 40px ; text-indent: -9999px;z-index: 51; }


.gnb_wrap {position:absolute; top:0; left:0; width:100%; height:100%; display:flex; justify-content:flex-end; align-items: center; padding-right: 16px;}
.sideMenu {cursor:pointer;}
.side {background:#ffff; position: fixed; top:0; right:0; height:100vh; padding:25px 15px; z-index: 100; width:330px;}
.side li:hover {cursor: pointer;} 
#sideOff {cursor: pointer;}


.gnb_list_w { height:100%;}
.gnb_list {display:table; height:100%;  padding-right: 1.1vw;}
.gnb_list > li {display:table-cell; height:100%; padding:0 37px; position:relative; } /* table-cell은 항상 가운데 정렬됨 */
.gnb_list > li a:hover {color:#1FD15F}
.mitem {display:flex; align-items: center; font-size: 14px; font-weight: 700; height:100%; color:#fff;  transition: .3s;}



/********** #fullpage **************/

#fullpage {overflow-x: hidden;}


#s1 {position:relative;}
.image_w {}
img { 
    width:100%; 
    height:100%; 
    object-fit:cover; 
    position: absolute;
    right: 0;
    bottom: 0;
    top:0;
    background-size: 100% 100%;
     background-color: black; /* in case the video doesn't fit the whole page*/
      background-image: /* our video; */;
      background-position: center center;
      background-size: contain;
       z-index:3;}

.s1_w {position:relative;  z-index: 5; color: #fff; padding:50px 0 0 12vw;}
.s1_main {font-size: 3.8vw; font-weight: 700; font-family:'Merriweather'; line-height:1.25; letter-spacing: -1.8px;  animation:s1_main_load 1s; }
.s1_w span {display: block; font-size: 4.8vw;}
.s1_sub {font-size: 1.5vw; margin-top:15px; animation:s1_sub_load 1.5s; color:#1FD15F;}



@keyframes s1_main_load {
    0% {transform:translateY(150px); opacity:0; }
    100% {transform:translateY(0); opacity:1; }
}

@keyframes s1_sub_load {
    0% {transform:translateY(150px); opacity:0;}
    100% {transform:translateY(0); opacity:1;}
}


#s2 {position:relative;  min-height:475px; overflow: hidden; color:#fff}
    .s2_img {background:url('../img/about.jpg') no-repeat 25% 50% / contain; top:0; right:0; left:0; height:500px; width:100%;  align-items: center; }
    .s2_title {opacity:0; transform:translateX(100px); transition-duration: 1s; transition-delay: .8s}
    .s2_title_w {position:absolute; top:30%; left:50%; }
        .s2_title h1 { font-size:3.5vw;  color:#fff; } 
        .s2_title_sub { margin-top:10px;  font-size: 15px; color:#fff; font-weight: 700; }


        #s2.active .s2_title {transform:translateX(0); opacity:1;}
        #s2.active .s2_cont  {transform:translateX(0); opacity:1;}


        .s2_item_title { font-size:2vw; margin-top:10px; font-weight: 700; color:#fff;}
        .s2_cont {opacity:0; transform:translateX(100px); transition-duration: 1s; transition-delay: 1.3s}
        .s2_item_cont {font-size: 1.5vw; margin-top:25px; line-height: 1.5;}

        .s2_item_cont p {font-weight: 400; color:#1FD15F; display: inline-block;}

    .arrow {position:fixed; bottom:50px; right:50px; z-index: 20;  }
    .prevA, .nextA {display:block; font-size: 14px; font-family:'Merriweather', serif; color:#dbdbdb}
    
    .prevA {transform:rotate(90deg)}
    .nextA {transform:rotate(-90deg) translateY(30px)}

    .prevA::before, .nextA::before  {content:''; display:inline-block; width:8px; height:8px; border-top:1px solid #dbdbdb; border-left:1px solid #dbdbdb; transform:rotate(-45deg); margin-right:5px;}
    .prevA::before {}
    .nextA::before {}



