@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&family=Noto+Sans+KR:wght@300;400;500;700&display=swap');

body { font-family:'Noto Sans KR', Arial, Helvetica, sans-serif; color:#111; font-size:12px; }
a {color:#111;}

.mobile {display:none;}
img {max-width:100%;}

/* header */
header {position:fixed; top:0;  left:0; width:100%; min-height:80px; height:4.2vw; border-bottom:1px solid #fff; z-index:50;  }
.header_in { max-width: 1920px; margin:auto; height:100%;}
header h1 { display:flex; margin-left:1.3vw; align-items:center;  width:172px; height:100%; }
header h1 a { display:inline-block; width:172px; height:100%; background: url('../img/logo.png') no-repeat center center / 40px ; text-indent: -9999px;}

.gnb_wrap {}

.gnb_list_w {position:fixed; display: inline-block; top:25px; right:0; }
.gnb_list {display:table; height:100%;  padding-right: 1.1vw;}
.gnb_list > li {display:table-cell; height:100%; padding:0 37px; position:relative;} /* table-cell은 항상 가운데 정렬됨 */
.mitem {display:flex; align-items: center; font-size: 14px; font-weight:700; height:100%; color:#fff;}

.subItem_w {display:none; position:absolute; top:100%; left:0; width:100%; background: #fff; border-top:1px solid #d8d8d8; box-shadow: 10px 10px 30px rgb(0 0 0 /20%
    ); text-align: center;}
.subItem_list {padding:20px 0}
.subItem_list > li {margin-bottom:10px;}
.subItem {font-size:15px;}
.subItem:hover {color:#009ad9}

.subItem_w::before {position:absolute; content:''; width:9px; height:9px; background:#009ad9; border-radius:50%; margin-top:-5.5px; }

/*pc 상태 메인메뉴 */
.gnb_list > li:hover .subItem_w {display:block;}


.national_list {height:101%; width:11%;}
a.nat_target {display:flex; position:relative;  font-size:14px; align-items:center; justify-content: center; height:100%; width:100%; background: #334A51; }
.nat_target_in {font-size:0.83vw; font-family: 'Merriweather', serif; color:#FFF; }

.totalmenu_w {height:101%; width:11%;}
a.btn_total {display:flex; position:relative; align-items: center; height:100%; width:100%; background: #fff; padding-left:50%;}

.btn_total:before, .btn_total:after {position:absolute; content:''; width:27%; height:1px; left:12%; top:50%; background: #111;}
.btn_total:before {transform: translateY(-5px);}
.btn_total:after {transform: translateY(5px);}

.btn_total_in {font-size: 16px; font-family: 'Merriweather', serif; color:#111;  }


/********** #fullpage **************/

#fullpage {overflow-x: hidden;}


#s1 {position:relative;}
.image_w {}
img { 
    width:100%; 
    height:100%; 
    object-fit:cover; 
    position: absolute;
    right: 0;
    bottom: 0;
    top:0;
    background-size: 100% 100%;
     background-color: black; /* in case the video doesn't fit the whole page*/
      background-image: /* our video; */;
      background-position: center center;
      background-size: contain;
       z-index:3;}

.s1_w {position:relative;  z-index: 5; color: #fff; padding:50px 0 0 12vw; }
.s1_main {font-size: 3.6vw; font-weight: 700; font-family:'Merriweather'; line-height:1.25; letter-spacing: -1.8px; 
            transform:translateY(150px); opacity:0; transition-delay:0.8s ; transition-duration: 1s; animation:s1_main_load 1s;}
.s1_w span {display:block; font-size: 4.8vw;}
.s1_sub {font-size: 0.95vw; margin-top:20px; margin-right:20px; color:#fff; line-height:1.6; transform:translateY(150px); opacity:0; transition-delay:0.8s ; transition-duration: 1s; animation:s1_sub_load 1s; }

#s1.active .s1_main {transform:translateY(0); opacity: 1;}
#s1.active .s1_sub {transform:translateY(0); opacity: 1;}

@keyframes s1_main_load {
    0% {transform:translateY(150px); opacity:0;}
    100% {transform:translateY(0); opacity:1;}
}

@keyframes s1_sub_load {
    0% {transform:translateY(150px); opacity:0;}
    100% {transform:translateY(0); opacity:1;}
}

@keyframes s1_btn_load {
    0% {transform:translateY(150px); opacity:0;}
    100% {transform:translateY(0); opacity:1;}
}



.s1_btn_w {margin-top:50px; opacity:0; transform:translateY(150px); transition-delay:1.3s ; transition-duration: 1s;animation: s1_btn_load 1.3s;}
.s1_btn span {font-size:0.84vw; display:block; color:#fff; padding-right:70px;}
a.s1_btn {display:inline-block; margin-right:10px; border:1px solid #fff; padding: 13px 23px; border-radius: 100px; }

.s1_btn span {position:relative; font-size:0.84vw; display:block; color:#fff; padding-right:70px;}

#s1.active .s1_btn_w {transform:translateY(0); opacity: 1;}

.s1_btn span:before, .s1_btn span:after {position:absolute; content: ''; top:50%; right:0}
.s1_btn span:before {width:25px; height:1px; background: #fff; }
.s1_btn span:after { width:6px; height:6px; border: 1px solid #fff; border-bottom:0; border-left:0; transform:rotate(45deg) translateY(calc(-50% - 1px )); right:3px; }





#s2 {overflow: hidden; position:relative;}
    .s2_img {background:url('../img/porfol_busan-station.jpeg') no-repeat 50% 50% / cover; top:0; right:0; left:0; height:500px; width:100%;  align-items: center;  }
    
    .s2_w { position:absolute; top:30%; left:0; padding: 50px 0 0 12vw; z-index:5;}
        .s2_title {  font-size:4.8vw; text-align:center; color:#fff; font-family: 'Merriweather'; font-weight: 700;
                    transform:translateY(150px); opacity:0; transition-delay:0.8s ; transition-duration: 1s;} 
        .s2_title_sub { margin-top:15px;  font-size: 15px; color:#fff; line-height: 1.6;
                        transform:translateY(150px); opacity:0; transition-delay:0.8s ; transition-duration: 1s;}

        #s2.active .s2_title {transform:translateY(0); opacity: 1;}
        #s2.active .s2_title_sub {transform:translateY(0); opacity: 1;}


        .s2_btn_w { margin-top:50px; transform:translateY(150px); opacity:0; transition-delay:1.3s ; transition-duration: 1s;} 

        #s2.active .s2_btn_w {transform:translateY(0); opacity:1;}
    
        a.s2_btn {display:inline-block; margin-right:10px; border:1px solid #fff; padding: 13px 23px; border-radius: 100px; }
        .s2_btn span {position:relative; font-size:0.84vw; display:block; color:#fff; padding-right:70px;}
        
        .s2_btn span:before, .s2_btn span:after {position:absolute; content: ''; top:50%; right:0}
        .s2_btn span:before {width:25px; height:1px; background: #fff; }
        .s2_btn span:after { width:6px; height:6px; border: 1px solid #fff; border-bottom:0; border-left:0; transform:rotate(45deg) translateY(calc(-50% - 1px )); right:3px; }
        
        
        
    #s3 {position:relative; background: url('../img/porfol_seoul.jpeg') no-repeat 50% 50% / cover; z-index: 3;}

    .s3_w {margin:100px 12vw; color:#fff; }
    .s3_title {font-size:1.7vw; font-weight:700;} 
    .s3_main {font-size: 4.8vw; font-weight: 700; font-family:'Merriweather'; line-height:1.25; letter-spacing: -1.8px; 
                transform:translateY(150px); opacity:0; transition-delay:0.8s ; transition-duration: 1s; 
                margin-top:30px; text-shadow: 4px 0px 5px rgba(0,0,0,0.5);}

#s3.active .s3_title {transform:translateY(0); opacity: 1;}
#s3.active .s3_main {transform:translateY(0); opacity: 1;}


    .s3_sub_w {transform:translateY(100px); opacity:0; transition-duration: 1s; transition-delay: .8s;}
    .s3_sub { margin-top:40px;}
    .s3_item_cont {font-size: 0.95vw; }
    .s3_item_cont .type2 {}
    .s3_item_title {font-size: 1.3vw; font-family:'Merriweather'; margin-bottom:10px; }

    .s3_btn_w {margin-top:50px; transform:translateY(100px); opacity:0; transition-duration: 1s; transition-delay:1.3s}

    #s3.active .s3_sub_w {transform:translateY(0); opacity:1;}
    #s3.active .s3_btn_w {transform:translateY(0); opacity:1;}

    a.s3_btn {display:inline-block; margin-right:10px; border:1px solid #fff; padding: 13px 23px; border-radius: 100px; }
    .s3_btn span {position:relative; font-size:0.84vw; display:block; color:#fff; padding-right:70px;}
    
    .s3_btn span:before, .s3_btn span:after {position:absolute; content: ''; top:50%; right:0}
    .s3_btn span:before {width:25px; height:1px; background: #fff; }
    .s3_btn span:after { width:6px; height:6px; border: 1px solid #fff; border-bottom:0; border-left:0; transform:rotate(45deg) translateY(calc(-50% - 1px )); right:3px; }




    #s4 {position:relative; background: url('../img/motionArray.jpeg') no-repeat 50% 50% / cover; z-index: 3;}
    #s4 .vid_w video {position:absolute; top:100px; right:0;  height:32vw;}

    #s4 .s4_title {position:absolute; top:25%; left:10%; color:#7A71DC; font-size: 5vw; font-weight: 700; transform:translateY(100px); transition-duration: 1s; transition-delay: .8s}
    .s4_title_sub {position:absolute; margin-top:15px; top:39%; left:10%; color:#fff; font-size: 3vw; font-family: 'Merriweather'; font-weight: 700; transform:translateY(100px); transition-duration: 1s; transition-delay: .8s;}

    .s4_btn_w {position:absolute; left: 10%; margin-top:80px; }

    #s4.active .s4_title {transform:translateY(0); opacity:1;}
    #s4.active .s4_title_sub {transform:translateY(0); opacity:1;}


    .s4_sub_w {transform:translateY(100px); opacity:0; transition-duration: 1s; transition-delay: 1.3s;}
    .s4_sub { margin-top:5vw; margin-left: 10vw; color:#fff; }
    .s4_item_cont {font-size: 0.95vw; }
    .s4_item_title {font-size: 1.3vw; font-family:'Merriweather'; margin-bottom:10px; }

    .s4_btn_w {margin-top:50px; transform:translateY(100px); opacity:0; transition-duration: 1s; transition-delay:1.3s}

    #s4.active .s4_sub_w {transform:translateY(0); opacity:1;}
    #s4.active .s4_btn_w {transform:translateY(0); opacity:1;}

    a.s4_btn {display:inline-block; margin-right:10px; border:1px solid #7A71DC; padding: 13px 23px; border-radius: 100px; }
    .s4_btn span {position:relative; font-size:0.84vw; display:block; color:#7A71DC; padding-right:70px;}
    
    .s4_btn span:before, .s4_btn span:after {position:absolute; content: ''; top:50%; right:0}
    .s4_btn span:before {width:25px; height:1px; background: #7A71DC; }
    .s4_btn span:after { width:6px; height:6px; border: 1px solid #7A71DC; border-bottom:0; border-left:0; transform:rotate(45deg) translateY(calc(-50% - 1px )); right:3px; }



    #s5 {}
    #s5 video {width:100%; height:100%; object-fit: cover; }

    .s5_title {position:absolute; top:50%; left:150px; font-size:1.7vw; font-weight:700; opacity:0; transform:translateY(50px); transition-duration: 1s; transition-delay: .5s;}

    #s5.active .s5_title  {transform:translateY(0); opacity:1;}
  
    .s5_btn_w {position:absolute; top:55%;  left:150px; margin-top:20px; line-height: 1.5; opacity:0; transform:translateY(50px); transition-duration: 1s; transition-delay: .8s;}

    #s5.active .s5_btn_w  {transform:translateY(0); opacity:1;  z-index:11; }

    .s5_btn {display:inline-block; margin-right:0px; border:1px solid #FFF; padding: 13px 23px; border-radius: 100px; }
    .s5_btn span {position:relative; font-size:1vw; display:block; color:#FFF; padding-right:70px;  }

    .s5_btn span:before, .s5_btn span:after {position:absolute; content: ''; top:50%; right:0}
    .s5_btn span:before {width:25px; height:1px; background: #fff; }
    .s5_btn span:after { width:6px; height:6px; border: 1px solid #fff; border-bottom:0; border-left:0; transform:rotate(45deg) translateY(calc(-50% - 1px )); right:3px; }

    .arrow {position:fixed; bottom:50px; right:50px; z-index: 20;  }
    .prevA,  .nextA {display:block; font-size: 14px; font-family:'Merriweather', serif; color:#dbdbdb}
    
    .prevA {transform:rotate(90deg)}
    .nextA {transform:rotate(-90deg) translateY(20px)}

    .prevA::before, .nextA::before  {content:''; display:inline-block; width:8px; height:8px; border-top:1px solid #dbdbdb; border-left:1px solid #dbdbdb; transform:rotate(-45deg); margin-right:5px;}
    .prevA::before {}
    .nextA::before {}



